<footer class="footer ">
    <div class="container text-center">
        <p class="mb-2">
            &copy; <%= new Date().getFullYear() %> StarMovie. Todos los derechos reservados a Quinteros R Mateo y... bootstrap.
        </p>
        <p class="mb-2">
            <a href="#">Sobre nosotros</a> | <a href="#">Contacto</a> | <a href="#">Política de privacidad</a>
        </p>
        <div class="social-icons mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="mx-3"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#" class="mx-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>

</body>
</html>